/* CSS reset, dit niet aanpassen! */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
img {
  max-width: 100%;
  height: auto;

}
body{
  background-image: url('images/unpleasant gradient.png');
  background-size: cover;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  grid-template-columns: 15vw 35vw 35vw 15vw;
  grid-template-rows: 20vh 60vh auto;
}
div{
  background:linear-gradient(#707070, #303030);
  border: 2px solid #d4ff60;
  margin: 1%;
  padding: 15px;
  padding-bottom: 1%;
  border-radius: 10px;
  color:blanchedalmond;
  font-size: 2vw;
  text-align: left;
}
h1{
  margin: 1vw;
}
#title {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 2vw;
  color: #99ffff;
}
#infotext {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: left; 
}
#bannerpic {
  background-image: url('images/image.png');
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  text-align: center;
  overflow: hidden;
}
#contact {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: left; 
}
#revisions {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  text-align: left; 
}
.element{
  color: cyan;
}
a{
  color: coral;
}
a:hover{
    color: #00aaFF;
}
.bottomlink{
  color: #335577;
  background-color: tomato;
  margin: 1vw;
}
.bottomlink:hover{
  background-color: bisque;
  font-size:105%;
}